<div class="row">
        <div class="col-3">
                <nav class="navbar vertical-menu">
                        <ul class="nav navbar-nav">
                                <li class="nav-item" *ngFor="let option of options">
                                        <a class="button" routerLinkActive="activebutton"
                                                (click)="openDialog(option)"> {{option}} </a>
                                </li>
                        </ul>
                </nav>
        </div>
        <div class="col-9">
                <!-- <app-form  *ngIf = "showForm" [type] = "nameOfOption" (sendInformation)="showInformation($event)"></app-form> -->
                <!-- <nav class="nav nav-pills nav-fill">
                        <a class="nav-item nav-link active" href="#">{{nameOfOption}}</a>
                </nav> -->
                <router-outlet></router-outlet>
        </div>
</div>
<footer>
<app-footer-action [disableBack]="false" [disablePreset]="disablePreset" [disableDone]="disableDone" [showBack]="true" [showPreset]="true"  [showDone]="true" (clickPreset)="presetStep()"  (clickDone)="nextStep()"></app-footer-action>
</footer>
